*{
  font-family: 'Monda', sans-serif;
}


li{
  list-style: none;/*ทำให้จุดที่เกิดจากliหายไป*/
}

html{
  font-size: calc(60% + 0.8vmin);/*ย่อตามขนาดหน้าจอ*/
}

a{
  text-decoration: none;
}
.app{
  background-image: url(/images-login/bg.svg);
  width:100vw;
  height: 100vh;
  display: flex;
  justify-content:center;
}
.createApp {
  color: #769FCD;
  border-radius: 5%;
  margin-top: 9%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.616); /*ตรงนี้ใช้สีแดงไปก่อน มันจะได้เห็นชัดแล้วค่อยเปลี่ยนเป็นสีขาว*/
  width: 70vw;
  height: 75vh;
}

.form1 {
  padding: 10px;
  display: flex;
}

.formleft {
  margin-right: 10px;
}

.formright {
  margin-left: 10px;
}

.btn {
  background-color: #769FCD;
  border: 0 ;
  color: #ffffff;
  display: flex;
  margin-top: 20px;
  font-size: 20px;
  font-weight:regular;
  border-radius: 15px;
  padding: 10px;
}

input{
  border-radius: 20px;
  padding : 10px;
}
.bottomClick li{
  display: inline-block;
  padding: 0px 20px;
}
.column{
  display: flex;
  column-gap: 10px;
}
.column-name-text{
  display: flex;
  flex-direction:column;
  width: 250px;
}
.name-text{
  display: flex;
  flex-direction:column;
}
.password-input{
  display: flex;
  flex-direction:column;
  position: relative;
  }
  
.show-hide-icon{
  position: absolute;
  top: 66%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  align-Items: center;
  cursor:pointer;
  }
  
.show-hide-icon{
  margin-Right: 4px;
  }